<!DOCTYPE html>
<html lang=\"en\">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Order</title>
    <style> .block{
        margin: 0 auto;
        width:  300px;
        min-height: 200px;
        text-align: center
        }

    </style>
</head>
<body>
<div class="block">
    <h4>Thank you for registering.
        Please click below to confirm your email</h4>
    <h4 th:text="${email}"></h4>
    <button>Confirm email</button>

</div>
</body>
</html>